@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail</title>
    <script>
        window.location = "https://qiye.163.com/login/?from=ym";
    </script>
</head>
<body>
</body>
</html>
