
@{
    ViewData["Title"] = "Index";
}
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="center-block">
                <h1 class="page-title text-center">Portfolio Preparation Program</h1>
            </div>
        </div>
    </div>
</section>

<p class="divcss text_card font-size-14">
    Portfolio is always the single most important aspect of your application demonstrating your technical
    skills, creativity, and individual growth. Laelaps understands the importance of art education you pursue
    to your life and assists you to break through the learning barriers and boost your potential. Our portfolio
    preparation program helps prospective students matriculate to top-ranking colleges in the U.S. and Canada.
</p>
<p class="divcss text_card font-size-14">
    A wealth of counseling and coaching experiences from tons of our successful cases guarantee your
    excellence and success. All of our counselors are celebrated professionals in their areas of expertise,
    devoted to providing you the guidance and support you need to achieve admissions and scholarship
    success. They will not only help to develop and review your portfolio but also guide you through the
    application process, answer your questions, and serve as your admissions mentors.
</p>
<p class="divcss text_card font-size-14">
    We build abridge to the future by leveraging the experience and capabilities of our talented team in the
    best possible way to serve students and never disappoint you! If you want to realize your dream, you
    are in the right place.
</p>
<p class="divcss text_card font-size-14 Portfooio-Center">
    Your portfolio must be oriented specifically to the one major for which you are applying amongst:
</p>
<div class="container">
    <div class="row" style="padding:0 20px 0 20px">
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Entertainment Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Advertising</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Environmental Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Film</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Fine Art</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Graphic Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Illustration</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Interaction Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Photography and Imaging</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Product Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Transportation Design</p></div>
            <div class="col-xs-6 col-sm-4 col-md-3 Portfooio-table"><p class="divcss Portfooio-text-list"><span class="Portfooio-point">•</span> Fashion Design</p></div>
        </div>
    @*<span class="divcss Portfooio-text-list">•Entertainment Design </span>
    <span class="divcss Portfooio-text-list">•Advertising</span>
    <span class="divcss Portfooio-text-list">•Environmental Design</span>
    <span class="divcss Portfooio-text-list">•Film</span>
    <span class="divcss Portfooio-text-list">•Fine Art</span>
    <span class="divcss Portfooio-text-list">•Graphic Design</span>
    <span class="divcss Portfooio-text-list">•Illustration</span>
    <span class="divcss Portfooio-text-list">•Interaction Design</span>
    <span class="divcss Portfooio-text-list">•Photography and Imaging</span>
    <span class="divcss Portfooio-text-list">•Product Design</span>
    <span class="divcss Portfooio-text-list">•Transportation Design</span>
    <span class="divcss Portfooio-text-list">•Fashion Design</span>*@
</div>  
    <div class="container">
        <div class="row">
            <div class="center-block" style="margin:60px 0 60px 0">
                <h2 class="Portfooio-school-title text-center">Successful Cases - Elite Schools</h2>
            </div>
            @foreach (var item in ViewData["list"] as List<string>)
            {
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="over_content-centered over_content Portfooio-img">
                        <img class="Portfooio-content-img   img-circle" src="@item" />
                    </div>
                </div>
            }
        </div>
    </div>

                            

