<br />
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
    <div class="outerdiv-left"></div>
    <div class="outerdiv-right"></div>
</div>
<section>
    @*<nav class="navbar navbar-default secondary-navbar position-sticky">
            <div class="container-fluid">
                <ul id="myTab" class="nav navbar-nav text-uppercase font-weight-bold">
                    <li class="active">
                        <a data-toggle="tab" aria-expanded="true" href="#Students">Students</a>
                    </li>
                    <li>
                        <a data-toggle="tab" aria-expanded="false" href="#Instructors">Instructors</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tab-pane fade in active" id="Students">
            <section class="container">
                <div class="content-inner">
                    <div class="row">
                        @for (int i = 0; i < 13; i++)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="pic-inner">
                                    <header class="over_content-centered over_content ">
                                        <img class="pic" src="~/images/pic2.jpg" />
                                    </header>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="Instructors">

        </div>*@
    <div class="container courses-title">
        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    @*<a asp-area="" asp-controller="Gallery" asp-action="Student" class="text-center Gallery-link">Students</a>*@
                    @Html.ActionLink("Students", "Student", "Gallery", new { area = "" }, new { @class = "text-center Gallery-link" })
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    @*<a asp-area="" asp-controller="Gallery" asp-action="Instructors" class="text-center Gallery-link">Instructors</a>*@
                    @Html.ActionLink("Instructors", "Instructors", "Gallery", new { area = "" }, new { @class = "text-center Gallery-link" })
                </div>
            </div>
            <div>
                @foreach (var item in ViewData["list"] as List<string>)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        @*<div class="over_content-centered over_content Portfooio-img">
                            <img class="Gallery-content-img" src="@item" />
                            </div>*@
                        <div class="pic-inner over_content over_content-centered div-relative ">
                            <img class="pic-courses div-child galley-pic" src="@item" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".galley-pic").click(function () {
                var _this = $(this);
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });
        });
    </script>
}